.not-found {
    text-align: center;

    img {
        width: 150vh;
    }

    h1 {
        font-size: 4rem;
    }

    a {
        display: inline-block;
        border-radius: 4px;
        background-color: #3d405b;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 15px;
        padding: 16px;
        width: 180px;
        transition: all 0.5s;
        margin: 20px;
    }
}